<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="warn">
            <span>Menu</span>

            <span class="spacer"></span>

            <button mat-icon-button
                (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        
    
        <mat-nav-list>
            <a mat-list-item routerLink="./listado"
              (click)="sidenav.toggle()">
              <mat-icon mat-list-icon >label</mat-icon>
              <span>Lista de integrantes</span>
            </a>
        
    
            <a mat-list-item routerLink="./agregar"
            (click)="sidenav.toggle()">
            <mat-icon mat-list-icon >add</mat-icon>
            <span>Galeria</span>
            </a>

            <a mat-list-item routerLink="./buscar"
            (click)="sidenav.toggle()">
            <mat-icon mat-list-icon >music_note</mat-icon>
            <span>Canciones</span>
            </a>

            <a mat-list-item routerLink="./video"
            (click)="sidenav.toggle()">
            <mat-icon mat-list-icon >music_video</mat-icon>
            <span>videos</span>
            </a>
        </mat-nav-list>
        
        <mat-card>
    
            <div class="container mt-3"  class="margin">
                <div class="dropdown">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdown1" data-toggle="dropdown">
                        Links redes sociales
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://www.youtube.com/@mantumlives25">youtube</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://www.facebook.com/profile.php?id=100063254527781">facebook</a>
                    </div>
                </div>
            </div>
            </mat-card>
    </mat-sidenav>
    
    
<section class="bg">  
    <mat-toolbar>
        <button mat-icon-button
        (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    
    <span class="spacer"></span>

    <span>{{auth.Nombre}}</span>

    <button mat-button
            (click)="logout()">
            logout
    </button>

    </mat-toolbar>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</section>  

</mat-sidenav-container>





            
