body {
    background-color: rgb(49, 1, 1);
}

.card {
    background-color: rgb(96, 92, 92);
    margin-bottom: 25px;
    // -webkit-box-shadow: 3px 24px 48px 11px rgba(38,1,1,1);
    // -moz-box-shadow: 3px 24px 48px 11px rgba(38,1,1,1);
    // box-shadow: 3px 24px 48px 11px rgba(38,1,1,1);
    
}

.title {
    color:rgb(215, 197, 197);
    // -webkit-box-shadow: -3px 12px 48px -4px rgba(92,4,4,1);
    // -moz-box-shadow: -3px 12px 48px -4px rgba(92,4,4,1);
    // box-shadow: -3px 12px 48px -4px rgba(92,4,4,1);
}